{% extends template('widget') %}

{% define data = {
    products: _widget.products,
    availableVariantAttributes: _widget.availableVariantAttributes,
} %}


{% block body %}

    {{ dump(data.availableVariantAttributes) }}

    {% for variant in data.products %}
        <p>
            sku {{ variant.sku }} <br>
            {{ dump(variant) }}
        </p>
    {% endfor %}
{% endblock %}
