@mixin multi-variant-add-to-cart-widget-variant-form($name: '.variant-form') {
    #{$name} {
        table {
            border-collapse: separate;

            tr:nth-child(even) {
                background-color: $setting-color-gray-6;
            }

            th,td {
                padding: 10px 20px;
            }

            th {
                font-weight: fw(bold);
            }

            td {
                text-align: left;
            }
        }
        @content;
    }
}

@include multi-variant-add-to-cart-widget-variant-form;
